﻿@using Microsoft.AspNetCore.Components.Routing

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gestion Profesoral</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="red">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Red
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/aliado">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Aliado
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/estudios-realizados">
                <span class="bi bi-journal-bookmark-fill" aria-hidden="true"></span> Estudios Realizados
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/beca">
                <span class="bi bi-mortarboard-fill" aria-hidden="true"></span> Becas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/apoyo-profesoral">
                <span class="bi bi-person-arms-up" aria-hidden="true"></span> Apoyo Profesoral
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/area-conocimiento">
                <span class="bi bi-book-half" aria-hidden="true"></span> Áreas Conocimiento
            </NavLink>
            
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/estudio-ac">
                <span class="bi bi-diagram-3" aria-hidden="true"></span> Estudio AC
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/maestro-detalle">
             <span class="bi bi-person-badge-fill" aria-hidden="true"></span> Maestro-Detalle Docentes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Linea_Investigacion">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Linea de investigacion
            </NavLink>

            
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="/docente">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Docente
            </NavLink>

            
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/RedDocente">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> RedDocente
            </NavLink>

            
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Reconocimiento">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Reconocimiento
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/alianza">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Alianzas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/docentedepartamento">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Docente - Departamento
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/evaluaciondocente">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Evaluaciones Docente
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/interesesfuturos">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Intereses Futuros
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/terminoclave">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Términos Clave
            </NavLink>
        </div>

    </nav>
</div>